
<div class="ui menu segment">
  <div class="ui container">
      <a class="ui left aligned item header" href="#"><i class="angle left icon"></i>戻る</a>
      <div class="ui center aligned header">設定</div>
      <a class="ui right aligned item header" href="#">保存</a>
  </div>
</div>
<div class="ui container">
  <p>地域設定</p>
  <div class="sixteen wide column">
      <div class="ui segment">
        <a class="ui right" href="#">
          <i class="angle right icon"></i>
        </a>
      </div>
  </div>
  <p>時間設定</p>
  <div class="sixteen wide column">
      <div class="ui segment">
        <a class="ui right" href="#">
          <i class="angle right icon"></i>
        </a>
      </div>
  </div>
</div>
