<div class="ui menu segment">
  <div class="ui container">
      <a class="ui left aligned item header" href="#"><i class="angle left icon"></i>戻る</a>
      <div class="ui center aligned header">時間設定</div>
      <div class="ui right aligned item header"></div>
  </div>
</div>
